<div class="row">
    <div class="col-md-5">
        <table class="table table-bordered table-condensed">
            <tr>
                <td colspan="2">
                    [<span data-bind="text: base.id"></span>]
                    <i class="fa" data-bind="css: getGenderFAClass()"></i>
                    <strong data-bind="text: base.name"></strong>
                    <img data-bind="attr: { src: 'img/clsicon/' + window.lib.char.classes[base.cls] + '.png' }" />
                    <span data-bind="text: window.lib.char.classes[base.cls]"></span>
                    Lv<span data-bind="text: status.level"></span>
                </td>
            </tr>
            <tr>
                <th>Cultivation</th>
                <td>
                    <select data-bind="options: window.lib.char.cultivations, value: status.level2"></select>
                </td>
            </tr>
        	<tr>
        		<th>HP</th>
        		<td>
                    <span data-bind="text: status.hp"></span>
                    /
                    <span data-bind="text: ep.max_hp"></span>
        		</td>
        	</tr>
        	<tr>
        		<th>MP</th>
        		<td>
                    <span data-bind="text: status.mp"></span>
                    /
                    <span data-bind="text: ep.max_mp"></span>
        		</td>
        	</tr>
            <tr>
                <th>Vigor</th>
                <td>
                    <select data-bind="options: [0,99,199,299,399], value: ep.max_ap"></select>
                </td>
            </tr>
        	<tr>
        		<th>Exp</th>
        		<td>
        			<input type="text" data-bind="value: status.exp" />
        		</td>
        	</tr>
            <tr>
                <th>Spirit</th>
                <td>
                    <input type="text" data-bind="value: status.sp" />
                </td>
            </tr>
            <tr>
                <th>Stats</th>
                <td>
                    <div>
                        CON
                        <span data-bind="text: ep.vitality"></span>
                        STR
                        <span data-bind="text: ep.strength"></span>
                    </div>
                    <div>
                        AGI
                        <span data-bind="text: ep.agility"></span>
                        INT
                        <span data-bind="text: ep.energy"></span>
                    </div>
                    <div>
                        Available Points:
                        <span data-bind="text: status.pp"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-7">
        <ul data-bind="foreach: getInventories()">
            <li>
                <span data-bind="text: $index"></span>
                <!-- ko if: $data -->
                <strong data-bind="text: $data.id"></strong>
                <!-- /ko -->
            </li>
        </ul>
    </div>
</div>