<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered table-condensed">
        	<tr>
        		<th>ID</th>
        		<td data-bind="text: id"></td>
        	</tr>
        	<tr>
        		<th>Name</th>
        		<td data-bind="text: name"></td>
        	</tr>
        	<tr>
        		<th>Level</th>
        		<td data-bind="text: level"></td>
        	</tr>
        	<tr>
        		<th>HP</th>
        		<td data-bind="text: hp"></td>
        	</tr>
        	<tr>
        		<th>MP</th>
        		<td data-bind="text: mp"></td>
        	</tr>
        	<tr>
        		<th>Exp</th>
        		<td>
        			<input type="text" data-bind="value: exp" />
        		</td>
        	</tr>
        	<tr>
        		<th></th>
        		<td data-bind="text: "></td>
        	</tr>
        </table>
    </div>
</div>